<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Ürün Listesi"}) %>
    
</head>
<body>
    <!-- Feedbacks -->
    <% if (action && action === "update") { %>
        <div class="text-success px-4 py-3 text-center">
            <i class="fa-solid fa-circle-check"></i>
            Değişiklikler kaydedildi.
        </div>
    <% } %>

    <% if (action && action === "delete") { %>
        <div class="text-success px-4 py-3 text-center">
            <i class="fa-solid fa-circle-check"></i>
            Başarıyla silindi.
        </div>
    <% } %>

    <% if (action && action === "create") { %>
        <div class="text-success px-4 py-3 text-center">
            <i class="fa-solid fa-circle-check"></i>
            Ürün eklendi.
        </div>
    <% } %>

    <% if (action && action === "isNull") { %>
        <div class="text-warning px-4 py-3 text-center">
            <i class="fa-solid fa-circle-exclamation"></i>
            Ürün bulunamadı.
        </div>
    <% } %>

    <% if (action && action === "error") { %>
        <div class="text-danger  px-4 py-3 text-center">
            <i class="fa-solid fa-circle-xmark"></i>
            İşlemde hata. Lütfen yazılımcı ekip ile iletişime geçin.
        </div>
    <% } %>
    <!-- Feedbacks End -->
   
    <div class="w-100 px-4 mt-2">
        <a href="/admin" class="text-dark"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    
    <div class="d-flex align-items-center justify-content-between px-4 mt-3">
        <h1 class="h5">Ürünler</h1>
    
        <a href="/admin/product/create" class="text-decoration-none fw-medium"><small>Ürün Ekle <i class="fa-solid fa-plus"></i></small></a>
    
    </div>
    
    <!-- Ürün Card -->
    <div class="px-4 mt-3 accordion accordion-flush" id="accordionFlushExample">
        <% if (categories.length <= 0) { %>
            <p class="text-secondary text-center px-5">Kategori bulunmadığı için ürünler listelenememektedir. İl önce kategori eklemek için <a href="/admin/category/create" class="text-decoration-none fw-medium">Kategori Ekle</a>'ye basınız.</p>
        <% } %>
        <% categories.forEach(category=> { %>

            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-<%= category.categoryid %>" aria-expanded="false" aria-controls="flush-<%= category.categoryid %>">
                    <%= category.category_name %>
                  </button>
                </h2>
                <div id="flush-<%= category.categoryid %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <% products.forEach(product => { %>
                                
                                <% if (category.categoryid == product.categoryid) { %>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><%= product.title %></span>
                                        <a href="/admin/products/<%= product.productid %>" class="fw-medium text-decoration-none"><small>Edit</small></a>
                                    </li>
                                 
                                <% } %>
                             
                            <% }) %>
                        </ul>
                    </div>
                </div>
              </div>
  
        <% }) %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
