<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Ürün Düzenle"}) %>
    
</head>
<body>

    <div class="w-100 px-4 mt-2">
        <a href="/admin/products" class="text-dark"><i class="fa-solid fa-chevron-left"></i></a>
    </div>


    <div class="d-flex align-items-center justify-content-between px-4 mt-3">
        <h1 class="h5">Edit</h1>
    
        <!-- Button trigger modal -->
        <button type="button" class="btn fw-medium text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <small>Ürünü Sil</small>
        </button>

    </div> 
    
    <form action="/admin/product/delete/<%= product.productid %>" method="post">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Silmek istediğinize emin misiniz?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-1" data-bs-dismiss="modal">İptal</button>
                        <button type="submit" class="btn btn-danger rounded-1">Ürünü Sil</button>
                    </div>
                </div>
            </div>
        </div>
        
    </form>

    <form class="row px-4" method="post" enctype="multipart/form-data">
        <input type="hidden" name="productid" value="<%= product.productid %>">
        
        <div class="col-6">
            <p class="fw-medium mb-2"><small>Ürün Resmi</small></p>
            <div class="d-flex flex-column align-items-center">
                <input type="hidden" name="server_image" value="<%= product.image %>">
                <img src="/img/<%= product.image %>" alt="ürün resmi" class="img-fluid">

                <input type="file" name="product_image" id="product_image" class="d-none" accept="image/png, image/jpeg">
                <label for="product_image" class="text-decoration-none mt-2 text-primary" style="cursor: pointer;">
                    Değiştir <i class="fa-regular fa-pen-to-square"></i>
                </label>
            </div>
        </div> 
    
        <div class="col-6">
            <label for="product_category" class="form-label fw-medium mb-2"><small>Kategori</small></label>
            <select id="product_category" name="product_category" class="form-select">
                <% categories.forEach(category => { %>
                    <% if (product.categoryid == category.categoryid) { %>
                        <option selected value="<%= category.categoryid %>"><%= category.category_name %></option>
                    <% } else { %>
                        <option value="<%= category.categoryid %>"><%= category.category_name %></option>
                     
                    <% } %>
                 
                <% }) %>
            </select>
        </div>
    
        <div class="row mt-4">
           <div class="col-9">
                <label for="product_name" class="form-label d-flex align-items-center justify-content-between fw-medium">
                    <small>Ürün Adı</small>
                    <span class="text-secondary fw-normal"><small><i class="fa-solid fa-circle-exclamation"></i> Örn: Klasik Hamburger</small></span>
                </label>
                <input type="text" class="form-control" id="product_name" name="product_name" value="<%= product.title %>">
           </div>
    
           <div class="col-3">
                <label for="product_amount" class="form-label d-flex align-items-center justify-content-between fw-medium">
                    <small>Fiyat</small>
                </label>
                <input type="number" class="form-control" id="product_amount" name="product_amount" value="<%= product.amount %>">
           </div>
        </div>
    
        <div class="mt-4">
            <label for="product_description" class="form-label d-flex align-items-center justify-content-between fw-medium">
                <small>Açıklama</small>
                <span class="text-secondary fw-normal"><small><i class="fa-solid fa-circle-exclamation"></i> Ürünün açıklamasını giriniz.</small></span>
            </label>
            <textarea class="form-control" id="product_description" name="product_description" rows="3"><%= product.description %></textarea>
        </div>
    
        <div class="row mx-auto my-4">
            <a href="/admin/products" class="col-3 btn btn-secondary py-3"><i class="fa-solid fa-x"></i></a>
            <div class="col-1"></div>
            <button type="submit" class="col-8 btn btn-secondary py-3 fw-medium">Değişiklikleri Kaydet</button>
        </div>
        
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script>
        const productImageInput = document.querySelector('#product_image');

        productImageInput.addEventListener('change', _ => {
            alert("Ürün resmi eklendi. ")
        });
    </script>
</body>
</html> 