<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Homepage"}) %>

    <style>
        #place_img{
            background-image: url("/img/placeholder.webp");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 35vh;
        }
        #place_img::before{
            content: '';
            background-color: rgba(0, 0, 0, 0.80);
            height: 100%;
            position: absolute;
            width: 100%;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <!-- <%- include('../partials/navbar') %> -->

    <!-- Categories -->
    <!-- <%- include('../partials/categories') %> -->

    <!-- Cateogry Detail -->
    <!-- <%- include('../partials/category-detail') %> -->

    <%- include('../admin/categories-edit.ejs') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html> 